MODE=[E]thereum|[S]tellar|[D]ual # Choose the mode of operation D is default
ETHEREUM_RPC=
ETHEREUM_ESCROW_ABI=
ETHEREUM_ESCROW_ADDRESS=
STELLAR_RPC=https://soroban-testnet.stellar.org:443
STELLAR_CONTRACT_ID=